 .homePageLayout{
    position: relative;
    width: 100vw;
    height: calc(100vh - 80px);
    margin-top: 80px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
 }
.homePageContainer{

}
 .firstScreen{
    width: 100vw;
    min-width: 900px;
    height: calc(100vh - 80px);
 }

 .secondScreen{
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
 }